name: Generate a Release Candidate .exe

on:
  push:
    tags:
      - 'rc*'
  workflow_dispatch:

jobs:
  build-and-release:
    runs-on: Windows-latest
    steps:
      - name: Disable autocrlf on Windows
        # https://github.com/actions/checkout/issues/135
        run: git config --global core.autocrlf false
      - uses: actions/checkout@v6
        with:
          lfs: true
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: 'npm'
      - name: Install Dependencies
        run: npm ci
      - name: Smudge
        run: perl -i dev/git_commit_filter.pl smudge worker/service-worker.ts src/main.ts
      - name: Build .exe
        env:
          CUSTOM_DEV_VERSION: ${{ github.ref_type == 'tag' && github.ref_name || 'local-dev' }}
        run: make build
        working-directory: dev/py-exe
      - uses: actions/upload-artifact@v5
        with:
          name: igb-fuchs-local-dev-exe
          path: dev/py-exe/dist/*.exe
