name: All Tests
on:
  push:
    # only on commits, not on tags
    branches:
      - '**'
  pull_request:
jobs:
  tests:
    name: Lint and Playwright Tests
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          lfs: true
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: 'npm'
      - name: Install Dependencies
        run: npm ci
      # https://playwright.dev/docs/ci#github-actions (note that page recommends not caching)
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Build, Lint, and Tests, with Coverage
        run: npm run full-test
